<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="characterTests" verbose ="5" parallel="methods" thread-count="10">

    <listeners>
        <listener class-name="utils.ExtentReportListener"></listener>
    </listeners>

    <test name="characterTests">
        <classes>
            <class name="test.TestCharacter">
                <methods>
                    <include name="GetCharacterByIdTest"/>
                    <include name="GetAllCharacterInfoTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>